<div class="profile-page-content">
  <h1><%= @user.name %>'s Profile</h1>
  <div class="profile-page-container">
    <p>Name: <%= @user.name %></p>
    <p>Email: <%= @user.email %></p>
      <div class="profile-button-group">
    <%= button_to(
      "Sign Out",
      destroy_user_session_path,
      method: :delete,
      class: "btn btn-danger",
      id: "sign-out-button"
    ) %>
  <%= button_to(
    "Delete Account",
    delete_profile_path(@user),
    method: :delete,
    data: { confirm: "Are you sure you want to delete your account?" },
    class: "btn btn-danger"
  ) %>
  <%= button_to "Edit Profile", edit_profile_path, method: :get, class: "btn btn-primary" %>
</div>


    <br>
  
</div>
</div>