<h1>Login Page</h1>

<%= form_with(url: '/login') do |form| %>
  <%= form.label :username %>
  <%= form.text_field :username %><br>

  <%= form.label :password %>
  <%= form.password_field :password %><br>

  <%= form.submit "Log In" %>
<% end %>
