<div class="edit-booking-content">
<h1>Edit Booking</h1>
<br>
<div class="edit-booking-form">
<%= form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
        <% @booking.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :time %>
    <%= f.time_select :time %>
  </div>
<br>
  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>
<br>
  <div class="field">
    <%= f.label :number_of_people %>
    <%= f.number_field :number_of_people %>
  </div>
<br>
  <div class="field">
    <%= f.label :special_requests %>
    <%= f.text_area :special_requests %>
  </div>
<br>
  <div class="update-booking">
    <%= f.submit 'Update Booking' %>
  </div>
<% end %>
</div>
</div>
