<div id="<%= dom_id category %>" class="card">
  <div class="card-header">
    <h5 class="card-title"><%= category.name %></h5>
  </div>
  <div class="card-body">
    <p class="card-text"><%= category.description %></p>
    <table class="table mt-4">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        <% category.meals.each do |meal| %>
          <tr>
            <td><%= meal.name %></td>
            <td><%= meal.description %></td>
            <td><%= meal.price %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
