<!DOCTYPE html>
<html>
<head>
  <link rel='preconnect' href='https://fonts.googleapis.com'>
  <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
  <link href='https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Montserrat&family=Mr+Dafoe&display=swap' rel='stylesheet'>
  <meta http-equiv='Content-Security-Policy' content='upgrade-insecure-requests' />
  <%= javascript_importmap_tags %>

  <%= stylesheet_link_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%# <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', type: 'module' %>

  <title>Chef Tom</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <style>
    body {
      background-color: #E5E1D6;
    }
    .image-container {
      text-align: center;
      margin-top: 20px;
    }
    .image-container img {
      width: 7cm;
      height: 7cm;
      border-radius: 50%;
    }
    .page-content-all {
      text-align: center;
    }
  </style>
</head>
<body>
  <p class='notice'><%= notice %></p>
  <p class='alert'><%= alert %></p>

  <%= render 'layouts/navbar' %>

  <div class='image-container'>
    <%= image_tag 'https://i.imgur.com/T5eh6Et.png', alt: 'Chef Tom Restaurant Logo' %>
  </div>
  <br>
  <%= yield %>
</body>
</html>
