<!DOCTYPE html>
<html>
  <head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Montserrat&family=Mr+Dafoe&display=swap" rel="stylesheet">
    <title>Chef Tom</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <style>
          body {
        background-color: #E5E1D6;
      }
      .image-container {
        text-align: center;
        margin-top: 20px;
      }

      .image-container img {
        width: 7cm;
        height: 7cm;
        border-radius: 50%;
      }

      .page-content-all {
                text-align: center;
      }
      
    </style>
  </head>

  <body>

  <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

<nav class="navbar">
  <ul class="navbar-list">
    <li class="navbar-item"><%= link_to "Home", root_path %></li>
    <li class="navbar-item"><%= link_to "Menu", menu_path %></li>
    <li class="navbar-item"><%= link_to "Make a Reservation", reservation_path %></li>
    <li class="navbar-item"><%= link_to "About", about_path %></li>
    <% if user_signed_in? %>
      <li class="navbar-item"><%= link_to "Profile", profile_path %></li>
    <% else %>
      <li class="navbar-item"><%= link_to "Sign In", new_user_session_path %></li>
      <li class="navbar-item"><%= link_to "Register", new_user_registration_path %></li>
    <% end %>
  </ul>
</nav>





    <div class="image-container">
      <%= image_tag "https://i.imgur.com/T5eh6Et.png", alt: "Chef Tom Restaurant Logo" %>
    </div>

    <%= yield %>
  </body>
</html>
